{% extends "myblog/base.html" %} {% block title %}Edit Blog{% endblock %} {% block content %}

{% if user.id == post.author.id %}
<h1>Delete Post</h1>
<br />
<h3>Delete: {{post.title}}</h3> <br>
<div class="form-group">
    <form action="" method="post">
        {% csrf_token %} {{form.as_p}}
        <strong>Are you sure!</strong> <br> <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        <button class="btn btn-danger">Delete Post</button>
    </form>
</div>

{% else %}
<h1>You're nıt allowed here. And you know it...</h1>
{% endif %}
{% endblock %}