{% extends "myblog/base.html" %} {% block title %}{{post.title_tag}}{% endblock %}
{% block content %}


<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.publication_date|date:"D d M Y" }}</small> <br>
<small>Category: {{post.category}}</small>
<br />
<br />
<hr />
{{post.description|safe}}

<br /><br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% if user.id == post.author.id %}
<a href="{% url 'edit-blog' post.pk %}" class="btn btn-info">Edit</a>
<a href="{% url 'delete-blog' post.pk %}" class="btn btn-danger">Delete</a>
{% endif %}

{% endblock %}