{% extends "myblog/base.html" %} {% block title %}{{post.title_tag}}{% endblock %}
{% block content %}


<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}} - {{post.publication_date|date:"D d M Y" }}</small> <br>
<small>Category: {{post.category}}</small>
<br />
<br />
<hr />

{% if post.header_image %}
<img src="{{post.header_image.url}} " alt="">
{% endif %}
<br>
{{post.description|safe}}

<br /><br />
<hr>

<h2>Comments</h2> <br>
{% if not post.comments.all %}
No Comments Yet. <a href="#">Add One</a>
{% else %}
{% for comment in post.comments.all %}
<strong>
    {{comment.name}}-
    {{comment.date_added}}
</strong>
<br>
{{comment.comment}} <br> <br>

{% endfor %}
{% endif %}
<hr>
<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% if user.id == post.author.id %}
<a href="{% url 'edit-blog' post.pk %}" class="btn btn-info">Edit</a>
<a href="{% url 'delete-blog' post.pk %}" class="btn btn-danger">Delete</a>
{% endif %}

{% endblock %}